
.profilePic{
  width: clamp(100px, 15vw, 400px);
  height: auto;
  min-height: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-left: 0px;

}

.aboutme-container{
  display: flex;
  gap: 8vw;
  width: 100%;
  height: clamp(25vw);
  padding-top: 5rem;
  padding-bottom: 2rem;

  h1{
    font-size: 5vw;
    white-space: nowrap;
    text-align: start;
    display: inline;
  }

  p{font-size: clamp(1rem, 2vw, 30px); text-align: start; margin-top: 0;}

  .aboutme-text-container{
      display:inline-flex;
      flex-direction:column;
  }
}

