.companyLogo{
    width: 12vw;
    aspect-ratio: 4/1;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
}
.companyLogo:hover{
    transform: scale(1.125);
    transition: transform 0.2s ease-in-out;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.experience-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: clamp(0.3rem, 1rem, 10rem);
    text-wrap: nowrap;
    border-radius: 5px;
    justify-content: space-around;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: clamp(0px, (1000px - 100vw), 3vw);
    margin: 1vw;
    border: solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.experience-container:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;

}

.description-container{
    text-wrap: wrap;
    width: 45vw;
    height: auto;
    p{
        font-weight: 300;
        text-align: left;
        font-size: clamp(0.2rem, 3vw, 1rem)
    }
}

.MyExperiences-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-textcontainer{
    font-size: clamp(0.6rem, 3vw, 1rem)
}

@media (max-width: 700px){
    .experience-container{
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        font-size: clamp(0.3rem, 1rem, 10rem);
        text-wrap: wrap;
        border-radius: 5px;
        padding-top: 1vw;
        padding-bottom: 3vw;
        padding-left: clamp(0px, (1000px - 100vw), 3vw);
        padding-right: clamp(0px, (1000px - 100vw), 3vw);
        margin: 1vw;
        border: solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
        }

    .experience-container:hover{
        transform: translateY(-8px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
        background-color: aliceblue;
    }

    h2{
        font-size: 1rem;
        margin-bottom: 9px;
    }

    .experience-textcontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .description-container{
        line-height: 1.1;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        p{
            margin-top: 0;
            font-weight: 300;
            text-align: left;
            font-size: clamp(0.1rem, 2.4vw, 1rem)
        }
    }

    .logoContainer{
        display: flex;
        justify-content: center;
    }

    .companyLogo{
        width: 20vw;
        aspect-ratio: 4/1;
        object-fit: contain;
        transition: transform 0.2s ease-in-out;
    }
    .companyLogo:hover{
        transform: scale(1.125);
        transition: transform 0.2s ease-in-out;
    }
}