
.skills-container{
    display: flex;
    height: 15vw;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom:1.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.skills-container:hover{
    background-color: aliceblue;
    transform: translateY(-8px);
}

.skills-header{
    font-size: clamp(0.5rem, 2rem, 2vw);
    font-weight: 400;
}

.logos-container{
    display: flex;   
    align-items: center;
    justify-content: space-around;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.logoimage{
    width: 8vw;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
}

.logoimage:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.125);
    height: auto;
}
