
.navbar-Container{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(9, 9, 9, 0.242);
    box-shadow: 0, 2px, 4px, rgba(0, 0, 0, 0.5);
    border-bottom-width: 2px;
    width: 100vw;
    position: fixed;
}

.navList-Container{
    list-style-type:none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    background-color: white(204, 255, 204);
    padding: 20px;
    margin: 0;
    margin-right: 10px;
}

.navText{
    text-decoration: none;
    color: black;
    padding: 0px 1px;
    display: block;
    border-radius: 1000px;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navBrandText{
    text-decoration: none;
    color: black;
    padding: 10px 50px;
}


.navText:hover{
    background-color: var(--primary-blue);
}