:root{
  --font-main: Lato;

  --primary-blue: #4e91fd;
  --primary-blue-medium-translucent: #4e91fd50; 
  --primary-blue-translucent: #4e91fd15;

  --light-gray: rgb(239, 239, 239);
}

* {
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: var(--font-main);
}